*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.display-none {
    display: none;
}

html,
body {
    font-family: "Roboto", "Arial", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    margin: 0 auto;
    color: #fff;
    font-weight: 400;
    padding: 0;
    background: #819c8e;
    min-width: 1200px;
}

h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}

a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

textarea {
    resize: vertical;
}

label {
    user-select: none;
}

a:hover,
a:focus {
    color: #ffbc9e;
}

a:active {
    color: #bdab96;
}

ul {
    list-style: none;
}

figure {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 27px;
    position: relative;
}

.button {
    background-image: linear-gradient(#f26843 0,#e74a35 100%); 
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    border: none;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 2px 2px #ac1000;
    text-shadow: 0px 2px 5px #a0200b;
}

.button:hover,
.button:focus {
    box-shadow: 0px 2px 2px 0px #ac1000;
    background: linear-gradient(#f58669, #ec6f5e);
    color: #fff;
}

.button:active {
    box-shadow: inset 0px 2px 2px 0px #942718;
    background: linear-gradient(#d74632, #e1613e);
    color: #fff;
}

.logo {
    margin-right: 5px;
}

.main-header-inner {
    display: flex;
    padding-top: 8px;
}

.catalog-main-header-inner {
    margin-bottom: 18px;
}

.navigation-column {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.navigation-items {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 8px;
    align-items: center; 
}


.nav-item a {
    border-bottom: 1px solid #a9bbb1;
    margin: 8px 15px 8px 15px;
}

.nav-item a:hover,
.nav-item a:focus {
    padding: 8px 15px 8px 15px;
    margin: 0;
    border-radius: 16px;
    background: #fff;
    color: black;
}

.nav-item a:active {
    padding: 8px 15px 8px 15px;
    margin: 0;
    border-radius: 16px;
    background: #ededed;
    color: black;
    box-shadow: inset 0px 2px 1px #696969;
}

.nav-item:hover .navref,
.nav-item:focus .navref {
    padding: 8px 15px 8px 15px;
    margin: 0;
    border-radius: 16px;
    background: #fff;
    color: black;
}

.nav-item.current-item .dropref,
.nav-item.current-item .dropref {
    padding: 8px 15px 8px 15px;
    margin: 0;
    border-radius: 16px;
    background: #d07058;
    color: #fff;
    border: none;
}

.nav-item.current-item a:active {
    padding: 8px 15px 8px 15px;
    margin: 0;
    border-radius: 16px;
    background: #ededed;
    color: black;
    box-shadow: inset 0px 2px 1px #696969;
}

.nav-item.current-item:hover .dropref,
.nav-item.current-item:focus .dropref {
    padding: 8px 15px 8px 15px;
    margin: 0;
    border-radius: 16px;
    background: #fff;
    color: black;
}

.nav-item:active .dropref {
    padding: 8px 15px 8px 15px;
    margin: 0;
    border-radius: 16px;
    background: #ededed;
    color: black;
    box-shadow: inset 0px 2px 1px #696969;
}

.catalog-nav-item {
    position: relative;
}

.catalog-nav-item:hover  .catalog-dropdown,
.catalog-nav-item:focus  .catalog-dropdown {
    display: block;
}

.catalog-nav-item a:hover ~ .catalog-dropdown,
.catalog-nav-item a:focus ~ .catalog-dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    background: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px #00000099;
    padding-bottom: 4px;
    right: 0;
    bottom: -5px;
    transform: translateY(100%);
    z-index: 1;
}

.catalog-dropdown {
    right: auto;
}

.catalog-dropdown::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    transform: translateY(-50%);
}

.catalog-dropdown li {
    margin: 4px 0 4px;
}

.catalog-dropdown .dropdown-title {
    border-bottom: 1px solid #d1d0ce;
    padding-left: 10px;
    padding: 6px 5px 12px 15px;
    margin: 5px;
}

.dropdown-title h2 {
    color: black;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.catalog-dropdown a {
    color: #323232;
    margin: 0;
    width: 143px;
    font-size: 14px;
    line-height: 16px;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 20px;
    border: none;
}

.catalog-dropdown a:hover,
.catalog-dropdown a:focus {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 20px;
    background: #fbded7;
    border-radius: 0;
}

.catalog-dropdown a:active {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 20px;
    background: #f6b5a5;
    border-radius: 0;
    box-shadow: none;
}

.current-dropdown-item {
    background: #d07058;
}

.control-column {
    position: relative;
    display: flex;
    margin-bottom: 8px;
}

.control-items {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}

.control-items a {
    position: relative;
    background: #ffffff30;
    border-radius: 16px;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 35px 8px 45px;
}

.basket-item a:hover,
.basket-item a:focus,
.login-item a:hover,
.login-item a:focus,
.search-item a:hover,
.search-item a:focus {
    background: #fff;
    color: #000;
}

.basket-item a:not(.delete):hover::before,
.basket-item a:not(.delete):focus::before {
    background-image: url("../img/basket-red.svg");   
}

.login-item a:hover::before,
.login-item a:focus::before {
    background-image: url("../img/entrance-black.svg");    
}

.search-item a:hover::before,
.search-item a:focus::before {
    background-image: url("../img/loupe-black.svg");    
}

.control-items .login-link {
    padding: 8px 20px 8px 45px;
}

.basket-item,
.login-item {
    position: relative;
}

.basket-item a:not(.delete)::before {
    content: "";
    position: absolute;
    background-image: url("../img/basket-white.svg");
    background-repeat: no-repeat;
    width: 21px;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 17px;
}

.login-item:hover .login-form,
.login-item:focus .login-form,
.login-item a:hover ~ .login-form,
.login-item a:focus ~ .login-form {
    display: block;
    z-index: 1;
}

.login-form {
    display: none;
    padding: 20px 18px;
}

.login-form::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    transform: translateY(-50%);
}

.field-wrapper {
    position: relative;
    margin-bottom: 22px;
}

.login-form a {
    color: #323232;
    font-size: 13px;
    line-height: 24px;
}

.login-form input {
    width: 241px;
    padding: 9px 13px;
    border: 1px solid #b2b2b285;
    border-radius: 5px;
    box-sizing: border-box
}

.login-form input + label {
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    cursor: text;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    user-select: none;
    transition: .3s;
}

.login-form input:focus + label,
.login-form input + .label-hide {
    font-size: 11px;
    line-height: 13px;
    color: #5b9ddf;
    top: -10px;
    left: 4%;
    transition: .3s;
}

.login-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
}

.login-control button {
    font-size: 16px;
    min-height: 44px;
    line-height: 24px;
    padding: 10px 26px;
    width: 100px;
    height: 44px;
}

.login-form .choice {
    padding-left: 20px;
}

.login-form .choice a {
    font-size: 13px;
    line-height: 24px;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    background: none;
}

.login-form .choice a:hover,
.login-form .choice a:focus {
    color: #e84d37;
}

.restore-password {
    margin-bottom: -5px;
}

.new-registration {
    margin-top: -5px;
}

.ctrl-item {
    margin-left: 5px;
}

.search-item:hover .search-form,
.search-item:focus .search-form,
.search-item a:focus ~ .search-form,
.search-item a:hover ~ .search-form {
    display: block;
    z-index: 1;
}

.search-form {
    display: none;
    padding: 21px 15px;
}

.ctrl-item.search-item a {
    padding: 17px 24px 17px 11px;
    font-size: 0px;
    line-height: 0px;
}

.search-form::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    transform: translateY(-50%);
}

.search-item:hover .navref,
.search-item:focus .navref,
.search-item a:hover,
.search-item a:focus {
    background: #fff;
    color: black;
}

.search-item {
    position: relative;
}

.search-form input {
    width: 313px;
    padding: 9px 13px;
    border: 1px solid #b2b2b285;
    border-radius: 5px;
    color: #323232;
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
}

.search-form input + label {
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    cursor: text;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    user-select: none;
    transition: .3s;
}

.search-form input:focus + label,
.search-form input + .label-hide {
    font-size: 11px;
    line-height: 13px;
    color: #5b9ddf;
    top: 10px;
    left: 8%;
    transition: .3s;
}

.login-link::before {
    content: "";
    position: absolute;
    background-image: url("../img/entrance-white.svg");
    background-repeat: no-repeat;
    width: 21px;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 17px;
}

.search-item a::before {
    content: "";
    position: absolute;
    background-image: url("../img/loupe-white.svg");
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.search-item:hover .navref,
.search-item:focus .navref {
    background: #fff;
}

.search-item:hover .navref::before,
.search-item:focus .navref::before {
    background-image: url("../img/loupe-black.svg");
}

.login-item:hover .navref,
.login-item:focus .navref,
.login-item a:hover, 
.login-item a:focus {
    background: #fff;
    color: #000;
}

.login-item:hover .navref::before,
.login-item:focus .navref::before {
    background-image: url("../img/entrance-black.svg");
}

.basket-item:hover .navref,
.basket-item:focus .navref,
.basket-item a:hover,
.basket-item a:focus {
    background: #fff;
    color: #000;
}

.basket-item:hover .navref::before,
.basket-item:focus .navref::before {
    background-image: url("../img/basket-red.svg");
}

.basket-item.full > a {
    padding: 8px 16px;
    width: 120px;
    color: #000;
    background: #f8f7f4;
    text-align: end;
}

.basket-item.full > a::before {
    background-image: url("../img/basket-red.svg");
}

.contacts-info {
    position: absolute;
    padding-bottom: 18px;
    text-align: right;
    color: #fff;
    transform: translateY(100%);
    right: 0;
    z-index: 1;
}

.contacts-info a {
    color: #fff;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    cursor: pointer;
}

.contacts-info p {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
}

.main-slider {
    padding-bottom: 42px;
}

#slider1, #slider2, #slider3 {
    display: none;
}

.slides {
    padding-top: 314px;
}

.slide {
    display: none;
    min-height: 215px;
}

.slider-controls {
    position: relative;
}

#slider1:checked ~ .background-inner {
    transition: .5s;
    background: #819c8e;
    background-image: url("../img/ice-creams-1.png");
    background-repeat: no-repeat;
    background-position: top;
}

#slider2:checked ~ .background-inner {
    transition: .5s;
    background: #8996a6;
    background-image: url("../img/ice-creams-2.png");
    background-repeat: no-repeat;
    background-position: top;
}

#slider3:checked ~ .background-inner {
    transition: .5s;
    background: #9d8b84;
    background-image: url("../img/ice-creams-3.png");
    background-repeat: no-repeat;
    background-position: top;
}

#slider1:checked ~ .background-inner .slides .slide1 {
    display: block;
} 

#slider2:checked ~ .background-inner .slides .slide2 {
    display: block;
}

#slider3:checked ~ .background-inner  .slides .slide3 {
    display: block;
}

#slider1:checked ~  .background-inner .slider-controls label:nth-child(1)::before {
    background: #fff;
}

#slider2:checked ~ .background-inner .slider-controls label:nth-child(2)::before {
    background: #fff;
}

#slider3:checked ~ .background-inner .slider-controls label:nth-child(3)::before {
    background: #fff;
}

.slider-controls label:hover::before {
    background: #ffffff59;
    cursor: pointer;
}

.slider-control::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    bottom: 23px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.slider-control-1::before {
    left: 0;
}

.slider-control-2::before {
    left: 30px;
}

.slider-control-3::before {
    left: 60px;
}

.slide-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    color: #fff;
}

.slide-description p {
    width: 675px;
    text-align: center;
    margin-bottom: 30px;
}

.slide-description * {
    z-index: 1;
}

.slide-description .button {
    padding: 10px 42px;
}

.slide::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    top: 2px;   
    right: 0;
    left: 35px;
    margin: 0 auto;
}

.stock-cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.stock-cards h3 {
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    padding-bottom: 15px;
}

.stock-cards p {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    padding-bottom: 100px;
}

.stock-button {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    position: absolute;
    bottom: 26px;
    right: 25px;
    padding: 10px 21px;
}

.stock-card {
    padding: 15px 21px;
    position: relative;
    border-radius: 17px;
    width: 49%;
    background-repeat: no-repeat;
    background-size: cover;
}

.stock-card.card-1 {
    background-image: url("../img/card1.png");
}

.stock-card.card-2 {
    background-image: url("../img/card2.png");
}

.ice-cream-catalog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.catalog-item {
    position: relative;
    display: flex;
    width: 24%;
    min-height: 362px;
}

.catalog-item:hover {
    z-index: 2;
}

.catalog-item:hover .catalog-item-inner {
    display: flex;
    background: #6161604d;
}

.catalog-item:hover .catalog-item-button {
    display: flex;
}

.catalog-item-inner {
    position: absolute;
    justify-content: center;
    width: 100%;
    min-height: 400px;
}

.catalog-item-button {
    display: none;
    position: absolute;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 24px;
    min-height: 34px;
    bottom: 0;
}

.card-description {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.catalog-item.hit::before {
    content: "";
    position: absolute;
    background-image: url("../img/hit.svg");
    background-repeat: no-repeat;
    width: 61px;
    height: 61px;
    top: 5px;
    left: 5px;
    z-index: 1;
}

.catalog-item-image {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-item-image img {
    border-radius: 50%;
}

.catalog-item-price {
    position: relative;
    bottom: 63px;
    left: 5px;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    display: inline-flex;
    align-items: center;
}

.catalog-item-price span {
    font-size: 45px;
    margin-right: 7px;
}

.catalog-item-description {
    position: relative;
    bottom: 41px;
    text-align: center;
    line-height: 22px;
    font-size: 16px;
    padding: 0 5px;
    text-decoration: underline;
}

.description {
    background-image: url("../img/image (5).png");
    color: #323232;
    padding: 26px 21px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.description h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.advantege-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantege-list-item {
    position: relative;
    width: 538px;
    padding: 22px 0 0 58px;
}

.advantege-list-item p {
    font-size: 16px;
    line-height: 22px;
    color: #323232;
}

.advantege-list-item::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 49px;
    height: 49px;
    left: 0;
    top: 8px;
}

.advantege-list-item:nth-child(1)::before {
    background-image: url("../img/ice-cream.svg");
}

.advantege-list-item:nth-child(2)::before {
    background-image: url("../img/cow.svg");
}

.advantege-list-item:nth-child(3)::before {
    background-image: url("../img/eco.svg");
}

.advantege-list-item:nth-child(4)::before {
    background-image: url("../img/thermometer.svg");
}

.subscribe {
    display: flex;
    justify-content: space-between;
    color: #323232;
    padding-bottom: 37px;
}

.blog-card {
    width: 49%;
    padding: 23px 20px;
    background-image: url("../img/Strawberry.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.blog-card p {
    padding-bottom: 8px;
    color:  #323232;
}

.blog-card a {
    text-decoration: underline;
    color:  #323232;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    width: 300px;
    margin-bottom: 58px;
}

.subscribe-card {
    width: 49%;
    padding: 5px;
    background-image: url("../img/post.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.subscribe-card-inner {
    height: 100%;
    background: #f8f7f4;
    border-radius: 15px;
}

.subscribe-card-inner p {
    font-size: 16px;
    line-height: 22px;
    color:  #323232;
    padding: 30PX 20px 35px;
}

.subscribe-form {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe-form-inner {
    display: flex;
    width: 100%;
    position: relative;
    padding: 0 20px;
    align-items: center;
}

.subscribe-form input {
    width: 100%;
    border: 1px solid #b2b2b285;
    border-radius: 5px;
    color: #323232;
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
    margin-right: 10px;
    background: #fff;
    padding: 10px 15px;
}

.subscribe-form input + label {
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    cursor: text;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7%;
    user-select: none;
    transition: .3s;
}

.subscribe-form input:focus + label,
.subscribe-form input + .label-hide {
    font-size: 11px;
    line-height: 13px;
    color: #5b9ddf;
    top: -10px;
    left: 6%;
    transition: .3s;
}

.subscribe-button {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 20px;
}

.map-container {
    width: 100%;
    height: 430px;
    background: url("../img/map_1200x430.jpg") no-repeat 50% 0;
    position: relative;
}

.map-img {
    position: absolute;
    top: 0;
}

.address-window {
    position: absolute;
    width: 302px;
    height: 305px;
    background: #fff;
    border-radius: 10px;
    color: #323232;
    padding: 27px 26px;
    bottom: 65px;
    right: 30px;
}

.address-window p {
    font-size: 14px;
    line-height: 20px;
}

.address-window b {
    font-size: 18px;
    line-height: 24px;
}

.address-window .modal-phone a {
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    color: #323232;
    font-weight: bolder;
}

.modal-address {
    padding-bottom: 18px;
}

.modal-address p {
    max-width: 150px;
}

.modal-phone {
    padding-bottom: 22px;
}

.modal-phone p {
    padding-bottom: 5px;
}

.address-button {
    width: 100%;
    line-height: 24px;
    font-size: 18px;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.social-buttons {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    margin-left: 2px;
}

.social-buttons li {
    box-sizing: content-box;
}

.social-button {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 3px solid #f3cece70;
    opacity: 0.7;
    font-size: 0px;
}

.social-button:hover,
.social-button:focus {
    border: 3px solid #f3cece80;
    opacity: 1;
}

.social-button:active {
    opacity: 1;
    border: 3px solid #ffffff90;
}

.twit-btn {
    background-image: url("../img/twitter.svg");
}
.inst-btn {
    background-image: url("../img/instagram.svg");
}
.fb-btn {
    background-image: url("../img/fb.svg");
}
.vk-btn {
    background-image: url("../img/vk.svg");
    
}

.footer-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    font-size: 13px;
    line-height: 18px;
}

.footer-navigation a {
    margin-bottom: 4px;
    border-bottom: 1px solid #ffffff33;
    display: inline;
}

.copywrite {
    padding-top: 18px;
    font-size: 12px;
    line-height: 18px;
}

.footer-nav-column {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 20px;
}

.footer-navigation-item.heart {
    position: relative;
}

.footer-navigation-item.heart::before {
    content: "";
    position: absolute;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    width: 15px;
    height: 13px;
    left: -20px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.academy-href {
    border-bottom: 1px solid #ffffff33;
}

/* ============================CATALOG================================== */

.breadcrumbs {
    margin-bottom: 5px;
}

.breadcrumbs a  {
    font-size: 14px;
    line-height: 16px;
    color: #e4e9e6;
    border-bottom: 1px solid #a9bbb1;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: #ffbc9e;
}

.breadcrumbs a:active {
    color: #bdab96;
}

.breadcrumbs a.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    border-bottom: none;
}

.raquo {
    margin-right: 4px;
    margin-left: 7px;
    cursor: default;
}

.category-title {
    margin-bottom: 20px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 28px;
}

.filter {
    margin-bottom: 10px;
    margin-right: 15px;
}

.filters legend {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    padding: 6px 15px;
}

.filters .sort-filter select {
    position: relative;
    padding: 7px 15px;
    background: #ffffff30;
    border-radius: 16px;
    height: 37px;
    width: 320px;
    line-height: 20px;
    -webkit-appearance: none;
    background-image: url("../img/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: 165px center;
}

.select-wrapper {
    border-radius: 16px;
    width: 190px;
    overflow: hidden;
}

.radioboxes label,
.sort-filter select {
    color: #fff;
    font-size: 16px;
    line-height: 23px;
}


.sort-filter option {
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 20px;
    border: none;
}

.slider {
    position: relative;
    width: 220px;
    height: 37px;
    padding: 16px 22px;
    background: #ffffff30;
    border-radius: 16px;
}

.base-line {
    position: relative;
    height: 4px;
    width: 100%;
    cursor: pointer;
    background: #ffffff50;
}

.slider-line {
    position: absolute;
    left: 20px;
    height: 4px;
    width: 60%;
    background: #fff;
}

.slider-pointer {
    bottom: 0;
    top: 0;
    margin: auto 0;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #819c8e;
    border: 8px solid #fff;
}

.slider-pointer:active {
    transform: scale(1.1,1.1);
}

.slider-max {
    right: 40px;
}

.slider-min {
    left: 15px;
}

.checkboxes input[type=checkbox],
.radioboxes input[type=radio] {
    opacity: 0;
    width: 0px;
    height: 0px;
 }

.radioboxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 20px;
    background: #ffffff30;
    border-radius: 18px;
}

.radioboxes li,
.checkboxes li {
    display: inline-flex;
    align-items: center;
}

.radioboxes li:nth-last-child(1) input[type=radio]+label,
.checkboxes li:nth-last-child(1) input[type=checkbox]+label {
    margin-right: 0;
}

.radioboxes input[type=radio]+label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 19px;
}

.checkboxes input[type=checkbox]+label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 18px;
    line-height: 21px;
}

.radioboxes input[type=radio]+label::before {
    content: "";
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    opacity: 0.8;
    width: 22px;
    height: 22px;
    display: inline-flex;
    margin-right: 10px;
}

.radioboxes input[type=radio]:checked+label::before {
    background-image: url("../img/radio-on.svg");
    opacity: 0.8;
}

.radioboxes input[type=radio]:hover+label::before,
.radioboxes input[type=radio]:focus+label::before {
    opacity: 1;
}

.radioboxes input[type=radio]:checked:hover+label::before,
.radioboxes input[type=radio]:checked:focus+label::before {
    opacity: 1;
}

.radioboxes input[type=radio]:disabled+label {
    opacity: 0.5;
}

.radioboxes input[type=radio]:disabled+label::before {
    opacity: 0.5;
}

.radioboxes input[type=radio]:checked:disabled+label::before {
    opacity: 0.5;
}

.checkboxes {
    display: flex;
    justify-content: space-between;
    background: #ffffff30;
    border-radius: 16px;
    padding: 8px 20px;
}

.checkboxes input[type=checkbox]+label::before {
    content: "";
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    opacity: 0.8;
    width: 24px;
    height: 20px;
    display: inline-flex;
    margin-right: 10px;
}

.checkboxes input[type=checkbox]:checked+label::before {
    background-image: url("../img/checkbox-on.svg");
    opacity: 0.8;
}

.checkboxes input[type=checkbox]:hover+label::before,
.checkboxes input[type=checkbox]:focus+label::before {
    opacity: 1;
}

.checkboxes input[type=checkbox]:checked:hover+label::before,
.checkboxes input[type=checkbox]:checked:focus+label::before {
    opacity: 1;
}

.checkboxes input[type=checkbox]:disabled+label {
    opacity: 0.5;
}

.checkboxes input[type=checkbox]:disabled+label::before {
    opacity: 0.5;
}

.checkboxes input[type=checkbox]:checked:disabled+label::before {
    opacity: 0.5;
}

.filter-btn {
    padding: 5px 26px;
    font-weight: 500;
    background: #ffffff30;
    border: 2px solid #fff;
    color: #fff;
    height: 37px;
    font-size: 16px;
    line-height: 18px;
    border-radius: 18px;
    margin-top: 19px;
    margin-left: 10px;
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    background: #fff;
    color: #000;
}

.filter-btn:active {
    box-shadow: inset 0 2px 1px #696969;
    padding: 8px 28px;
    background: #eaeaea;
    border: 0;
    color: #000;
}

.ice-cream-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.pagination a {
    color: #fff;
    padding: 3px 8px;
    border-radius: 50%;
    margin-left: 3px;
}

.pagination .current {
    background: #fff;
    color: #000;
}

.pagination a:hover,
.pagination a:focus {
    background: #ffffff30;
    color: #fff;
}

.pagination .prev,
.pagination .next {
    position: relative;
    padding: 5px 12px;
    font-size: 0px;
}

.pagination .next {
    left: 8px;
}

.pagination .prev {
    right: 8px;
}

.pagination .prev::before, 
.pagination .next::before{
    content: "";
    position: absolute;
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;  
}

.pagination .prev::before {
    transform: rotate(180deg);
}

.pagination a.inactive {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.ice-cream-list.catalog-list {
    margin-bottom: 48px;
}

.basket-product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.basket-products {
    margin-bottom: 8px;
    border-bottom: 1px solid #cacac7;
}

.basket-dropdown {
    width: 540px;
    padding: 28px 13px 22px 13px;
}

.basket-dropdown p {
    color: #323232;
    font-size: 13px;
    line-height: 18px;
}

.basket-product-name {
    max-width: 220px;
}

.basket-product-info span {
    color: #999;
}

.basket-product-price {
    margin-right: 20px;
}

.basket-product .delete {
    padding: 0;
    font-size: 0px;
    position: relative;
    width: 11px;
    height: 11px;;
}

.basket-product .delete::before {
    content: "";
    position: absolute;
    background-image: url("../img/Х@1X.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    top: 4px;
    left: 10px;
}

.final-price {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #323232;
    text-align: end;
    margin-bottom: 13px;
}

.preview {
    display: flex;
}

.preview img {
    position: relative;
    top: -7px;
    left: -10px;
    margin-right: 2px;
}

.order {
    text-align: end;
}

.order-button {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 15px;
}

.basket-dropdown.dropdown::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    transform: translateY(-50%);
}

.ctrl-item.basket-item:hover .basket-dropdown,
.ctrl-item.basket-item:focus .basket-dropdown,
.ctrl-item.basket-item a:hover ~ .basket-dropdown,
.ctrl-item.basket-item a:focus ~ .basket-dropdown {
    display: block;
    z-index: 2;
}

.feedback-modal {
    position: fixed;
    z-index: 5;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #f8f7f4;
    width: 480px;
    padding: 15px 15px;
    border-radius: 10px;
}

.feedback-modal:target {
    pointer-events: auto;
    display: block;
}

.modal-header {
    color: #323232;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    margin: 0px 10px 20px;
}

.modal-input-wrapper,
.modal-input-wrapper,
.modal-input-wrapper {
    position: relative;
    margin: 20px 10px;
}

.feedback-form input,
.feedback-form textarea {
    padding: 13px 15px;
    border: 1px solid rgba(70, 70, 70, 0.48);
    border-radius: 3px;
}

#modal-input-name,
#modal-input-email {
    width: 70%;
    
}

#modal-input-message {
    width: 100%;
    height: 155px;
}

.feedback-form input + label {
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    cursor: text;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    user-select: none;
    transition: .3s;
}

.feedback-form input:focus + label,
.feedback-form input + .label-hide {
    font-size: 11px;
    line-height: 13px;
    color: #5b9ddf;
    top: -10px;
    left: 4%;
    transition: .3s;
}

.feedback-form .button {
    display: block;
    float: right;
    padding: 0;
    font-size: 18px;
    width: 135px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 50px;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    background-image: url("../img/x.svg");
    width: 17px;
    height: 17px;
    cursor: pointer;
    fill: #000;
}

.modal {
    display: none;
}

.show {
    display: block;
}

.modal-overlay {
    z-index: 4;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000030;
}

.show-animation {
    animation-name: bounce;
    animation-duration: 0.6s;
}

@keyframes bounce {
    0%   {
        transform: translateY(-200%) translateX(-50%);
    }
    80%  {
        transform: translateY(-10%) translateX(-50%);
    }
    90%  {
        transform: translateY(-30%) translateX(-50%);
    }
    100% {
        transform: translateY(-50%) translateX(-50%);
    }
  }